<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hhs.product.dao.ProductMapper" >

    <select id="select" parameterType="productSearchEntity" resultType="com.hhs.product.entity.ProductEntity">
        SELECT *
        FROM PRODUCT_TABLE
        <where>
            delete_time IS NULL
            <if test='productId > 0'>
                AND product_id = #{productId}
            </if>
            <if test='name != null and name != ""'>
                AND `name` LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test='searchStartDate != null'>
                AND DATE_FORAMT(create_time, '%Y-%m-%d') >= #{searchStartDate}
            </if>
            <if test='searchEndDate != null'>
            <![CDATA[
                AND DATE_FORAMT(create_time, '%Y-%m-%d') <= #{searchEndDate}
            ]]>
            </if>
            <if test='productIdList != null'>
                AND product_id IN <foreach collection="productIdList" item="item" open="(" separator="," close=")">#{item}</foreach>
            </if>
        </where>
        <if test='pageViewCnt > 0'>
            LIMIT #{pageViewCnt} OFFSET #{page}
        </if>
    </select>

    <insert id="insert" parameterType="com.hhs.product.entity.ProductEntity" >
        INSERT INTO PRODUCT_TABLE(
            `name`, `price`, `create_time`
        ) VALUES (
            #{name}, #{price}, #{createTime}
        )
    </insert>

    <update id="update" parameterType="com.hhs.product.entity.ProductEntity">
        UPDATE PRODUCT_TABLE SET
            `name` = #{name}
            , `price` = #{price}
            , `update_time` = #{updateTime}
        WHERE
            product_id = #{productId}
    </update>

    <update id="delete" parameterType="com.hhs.product.entity.ProductEntity">
        UPDATE PRODUCT_TABLE SET
            `delete_time` = #{deleteTime}
        WHERE
            product_id = #{productId}
            AND delete_time IS NULL
    </update>

</mapper>