<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hhs.order.dao.OrderMapper" >

    <select id="select" parameterType="com.hhs.order.entity.OrderSearchEntity" resultType="com.hhs.order.entity.OrderEntity">
        SELECT *
        FROM ORDER_TABLE
        <where>
            delete_time IS NULL
            /* 기본적으로 유저는 필수 조건 필수 */
            AND user_id = #{userId}
            <if test='orderId > 0'>
                AND order_id = #{orderId}
            </if>
            <if test='productId > 0'>
                AND product_id = #{productId}
            </if>
            <if test='searchStartDate != null'>
                AND DATE_FORAMT(create_time, '%Y-%m-%d') >= #{searchStartDate}
            </if>
            <if test='searchEndDate != null'>
            <![CDATA[
                AND DATE_FORAMT(create_time, '%Y-%m-%d') <= #{searchEndDate}
            ]]>
            </if>
        </where>
        <if test='pageViewCnt > 0'>
            LIMIT #{pageViewCnt} OFFSET #{page}
        </if>
    </select>

    <insert id="insert" parameterType="com.hhs.order.entity.OrderEntity">
        INSERT INTO ORDER_TABLE(
            `user_id`, `product_id`, `amount`, `create_time`
        ) VALUES
        <foreach collection="productList" item="item" open="(" separator="),(" close=")">
            #{userId}, #{item.productId}, #{item.amount}, #{createTime}
        </foreach>
    </insert>

    <update id="delete" parameterType="com.hhs.order.entity.OrderEntity">
        UPDATE ORDER_TABLE SET
            `delete_time` = #{deleteTime}
        WHERE
            order_id = #{orderId}
            AND user_id = #{userId}
            AND delete_time IS NULL
    </update>

</mapper>